#b325 {
    width: 250px;
    font-weight: bold;
    box-sizing: border-box;
    border: solid 1px;
    border-color: green;

}

.asteroid_b326 {
    width: 250px;
    font-weight: bold;
    box-sizing: border-box;
    border: solid 1px;
    border-color: green;
}

.asteroid_big {
    background-color: yellow;
    color: blue;
    width: 250px;
}

.asteroid_b329_big {
    color: blue;
    font-weight: bold;
}